
<div class="main-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <% if product.store == 'S' %>
            <td><%= image_tag 'sainsburys', size:"16x12" %></td>
          <% elsif product.store == 'T'%>
            <td><%= image_tag 'tesco', size:"16x10" %></td>
          <% end%>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
        </tr>
     <% end %>
   </tbody>
  </table>
</div>